body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  display: block;
}
header nav {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 40px;
}
.logo {
  padding-left: 10px;
  display: flex;
  align-items: center;
  height: auto;
  width: auto;
}
header {
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  display: flex;
  width: 100%;
  align-items: center;
  background-color: black;
}
.content {
  display: block;
  padding-top: 70px;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  display: flex;
  background-color: black;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main.title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .img-content {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
