body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  display: block;
}
header nav {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 40px;
}
.logo {
  padding-left: 10px;
  display: flex;
  align-items: center;
  height: auto;
  width: auto;
}
header {
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  display: flex;
  width: 100%;
  align-items: center;
  background-color: black;
}
